---
layout: default
---

{% for post in site.posts %}
<article>
  <header>
    <div class="post-title">
      <h1>{{ post.title }}</h1>
    </div>
    {% assign author = site.data.members[post.author] %}
    <p><span class="post-date"><time pubdate datetime="{{ post.date | date: "%-d %B %Y" }}" title="{{ post.date | date: "%-d %B %Y" }}">{{ post.date | date: "%-d %B %Y" }}</time></span>|<span class="post-author">{{ author.name }}</span>|<span class="post-labels">
                  {% assign tags_list = post.tags %} 
                  {% for tag in tags_list %}{{ tag }}{% unless forloop.rindex0 == 0 %}&nbsp;&middot;&nbsp;{% endunless %}{% endfor %}
                </span></p>
  </header>
  <div class="post-content">
    <div class="row">
      <div class="col-sm-12 post-content">
        <p>{{ post.excerpt}}</p>
        <a href="{{ post.url }}"><button type="button" class="btn btn-default btn-sm"><span class="continue-reading">Devamı</span></button></a>
      </div>
    </div>
  </div>
</article>
{% unless forloop.rindex0 == 0 %}
  <hr>
{% endunless %}
{% endfor %}
