<hr>
<footer>
  <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ul class="social-media">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="google-plus" href="#"><i class="fa fa-google-plus "></i></a></li>
              <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 signature">
            <p>Kozmik Günce | 2015</p>
          </div>
        </div>
      </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.base_url }}/assets/js/bootstrap.min.js"></script>
