/* CONFIGURATION */

/* Bodytext font */
$font: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Font for headings */
$fontheadings: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Text colors */
// $text: #21272d;
$text: #2c3e50; // Midnight Blue
// $textmuted: #848484;
// $accent: #2077b2;
$textmuted: #7f8c8d; // Asbestos
$accent: #8e44ad; // Wisteria


/* IMPORT CSS FILES */
@import "bootstrap";
@import "base";
@import "nav";
@import "article";
@import "icons";
@import "syntax";
@import "responsive";