---
layout: base
---
<!-- <div class="blog-cover" style="background-image:url(/images/{{ site.inc.cover_image }});">
    
    <section>
        <div class="container">
            <h1>{{ site.inc.title }}</h1>
            {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}
        
            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Like on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
            {% endif %}
            <a href="/feed.xml" title="RSS Feed">
                <i class="icon icon-rss"></i>
            </a>
        </div>
    </section>
</div> -->


<article class="container">
    <section class="index">
         <h1>"İletişim Formu"</h1>
         <p>Kozmik Günce ile ilgili her türlü görüş ve eleştirinizi bu form üzerinden bize iletebilirsiniz.</p>
         <form>
         <div class="form-group">
            <label for="exampleInputEmail1">İsim
            </label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="İsminiz ve soyisminiz">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">E-posta</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-posta adresiniz">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Görüşleriniz</label>
            <textarea class="form-control" rows="5" placeholder="Yorum veya eleştirilerinizi buraya hazabilirsiniz"></textarea>
          </div
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
</article>
