---
layout: default
---
          <article>
            <header>
              <div class="post-title">
                <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
              </div>
              <div class="post-meta">
                {% assign author = site.data.members[page.author] %}
                <p><span class="post-date"><time pubdate datetime="{{ page.date | date: "%-d %B %Y" }}" title="{{ page.date | date: "%-d %B %Y" }}">{{ page.date | date: "%-d %B %Y" }}</time></span>|<span class="post-author">{{ author.name }}</span>|<span class="post-labels">
                  {% assign tags_list = page.tags %} 
                  {% for tag in tags_list %}{{ tag }}{% unless forloop.rindex0 == 0 %}&nbsp;&middot;&nbsp;{% endunless %}{% endfor %}
                </span></p>
              </div>
            </header>
            <div class="post-content">
              <div class="row">
                <div class="col-sm-12 post-content">
                  {{ content }}
                </div>
              </div>
            </div>
          </article>
          <hr>
            <div class="post-footer">
              <div class="row">
                <div class="col-sm-12">
                  <nav>
                    <ul class="pager">
                      {% if page.previous %}
                      <li><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr;Önceki</a></li>
                      {% endif %}
                      {% if page.next %}
                      <li><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Sonraki&rarr;</a></li>
                      {% endif %}
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
